body {
    background-color: bisque;
    color: #413131;
    text-align: justify;
}
.Menu {
    border: 1px solid #413131;
    padding: 0% 0% 5% 5%;
}

.button {
    position: absolute;
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    color: #413131;
    border: 1px solid #413131;
    width: 150px;
    padding: 4px;
    margin-top: 15px;
    margin-left: -10px;
    border-top: 1px solid #f1c1c1;
    border-left: 1px solid #f1c1c1;
}

.button:active {
    border: 1px solid #413131;
}


li {
    margin-top: 10px;
}

img {
    width: 500px;
    overflow: auto;
}

h1, h2 {
    text-align: center;
}


.photo {
    margin: auto;
    border-radius: 0 0 2% 2%;
    border: 1px solid #413131;
    width: 500px;
    background-color: #f1c1c1;
    text-align: center;
    margin-bottom: 30px;
}

.photo a {
    text-align: center;
    text-decoration: none;
    color:#413131;
}

.mainmenu {
    padding: 0; 
}

.mainmenu {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
}


.menupic {
    height: 250px;
    width: 300px;
}

.menupic img {
    width: 300px;
    height: 200px;
    border: 1px solid #413131;
}

ul, ol, .p {
    max-width: 600px;
    margin: auto;
}