body {
    background-color: bisque;
    color: #413131;
    text-align: justify;
}
.Menu {
    border: 1px solid #413131;
    padding: 0% 0% 5% 5%;
}

li {
    margin-top: 10px;
}

img {
    width: 500px;
}

h1, h2 {
    text-align: center;
}

.photo {
    margin: auto;
    border: 1px solid #413131;
    width: 500px;
    border-radius: 0 0 2% 2%;
    background-color: #f1c1c1;
}
.photo h3 {
    text-align: center;
}